.commentator_window {
  width: 400px;
  border: 3px solid rgb(164, 7, 86);
  border-radius: 5px;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow-y: scroll;
}
.commentator_window::-webkit-scrollbar {
  display: none;
}

.commentator_message {
  border-radius: 3px;
  padding: 15px;
}

.commentator_message:not(:last-child) {
  margin-bottom: 10px;
}

.startMessage {
  background-color: #e8ffd3;
}

.racerListMessage {
  background-color: #92dbff;
}

.randomFactOrJoke {
  border: 3px solid salmon;
}

.finishMessage {
  background-color: #054201;
  color: white;
}

.endGameMessage {
  background-color: #5b56ff;
  color: white;
}

.beforeFinishMessage {
  background-color: #bdbbff;
}

.gameStatusMessage {
  background-color: rgb(247, 182, 255);
}
