.full-screen {
  padding: 20px;
}

.game__header {
  font-size: 40px;
}

.rooms__create-button {
  margin-top: 30px;
  border-radius: 5px;
  display: block;
  width: 200px;
  text-align: center;
  padding: 18px;
  border: 3px solid rgb(68, 164, 255);
  background-color: rgb(161, 210, 255);
  text-decoration: none;
  font-weight: bold;
}

.rooms__cards {
  display: flex;
  flex-wrap: wrap;
}

.rooms__card {
  margin: 15px 15px 0 0;
  border: 3px solid rgb(101, 164, 7);
  background-color: rgb(199, 244, 131);
  border-radius: 5px;
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}

.room__join-button {
  display: block;
  width: 50%;
  padding: 6px 18px;
  border-radius: 5px;
  border: 3px solid rgb(68, 164, 255);
  background-color: rgb(161, 210, 255);
}

.game-page {
  display: flex;
  height: 500px;
}

.left_side {
  width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.connected_users {
  display: flex;
  flex-direction: column;
}

.connected_user {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}

.user_status {
  margin: 10px 10px;
  width: 10px;
  height: 10px;
  border-radius: 100px;
}

.ready {
  background-color: #6edb0f;
}

.not-ready {
  background-color: red;
}

.user_info {
  display: flex;
  align-items: center;
}

.progress {
  width: 100%;
  height: 25px;
  border: 3px solid rgb(101, 164, 7);
  border-radius: 5px;
}

.progress_status {
  border-radius: px;
  width: 0%;
  background-color: #c0f281;
  height: 100%;
}

.right_side {
  position: relative;
  width: 500px;
  margin-left: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid rgb(101, 164, 7);
  border-radius: 5px;
}

.right_side_box {
  width: 90%;
}

.main_game_window {
  display: flex;
  justify-content: center;
}

#highlightedTextElement {
  background-color: #b9f07f;
  /* white-space: pre; */
}

#next_text_letter {
  text-decoration: underline;
  white-space: pre;
}

.game_text {
  line-height: 24px;
}

.back_to_rooms_button {
  align-self: flex-start;
  padding: 16px 23px;
  border: 3px solid rgb(101, 164, 7);
  color: rgb(42, 63, 10);
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(199, 244, 131);
  border-radius: 5px;
}
.ready_button {
  margin: 0 auto;
  text-align: center;
  padding: 16px 23px;
  border: 3px solid rgb(101, 164, 7);
  color: rgb(42, 63, 10);
  font-weight: bold;
  font-size: 16px;
  background-color: rgb(199, 244, 131);
  border-radius: 5px;
}

.not_ready_button {
  margin: 0 auto;
  text-align: center;
  padding: 16px 23px;
  border: 3px solid rgb(164, 7, 12);
  color: rgb(63, 10, 14);
  font-weight: bold;
  font-size: 16px;

  background-color: rgb(244, 131, 131);
  border-radius: 5px;
}

.game_timer {
  top: 20px;
  right: 20px;
  position: absolute;
}

.timer_before_game {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
